* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
.container{
    background-color: cadetblue;
    border: 10px solid #1d1e4c;
}
body{
    background-color: aqua;
}
.topsection{
    margin-top: 100px;
    padding: 20px;
    display: flex;
    justify-content: space-between;


}
.imagecontainer
{
   overflow: hidden;
    border-radius: 50%;
}
.imagecontainer,img{
    height: 200px;
    width: 200px;
}
.topsection h1{
    font-size: 50px;
    align-items:top-right;
}
.topsection h4{
    font-size: 30px;
    text-align: end;
}
